{% extends 'base.html.twig' %}

{% block nav %}  {% include 'main/_menu.html.twig'%} {% endblock %}
{% block body %}
<main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>Blog</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Blog</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Blog Posts 2 Section -->
    {% for article in articles %}
    <section id="blog-posts-2" class="blog-posts-2 section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-12 col-md-12 text-center">
             
            <article class="align-items-center">
              <div class="post-img">
                <img src="{{ asset('img/blog/blog-1.jpg') }}" alt="" class="img-fluid">
              </div>

              <div class="meta-top">
                <ul class="justify-content-center">
                {% for section in article.sections %}
                  <li class="d-flex align-items-center"><a href="{{ path('section',{id:section.id}) }}">{{ section.SectionTitle }}</a></li>
                {% endfor %}
                  <li class="d-flex align-items-center"><i class="bi bi-dot"></i>{{ article.ArticleDatePosted|date("d/m/Y \à H:i") }}</li>
                  <li class="d-flex align-items-center"><i class="bi bi-dot"></i>{{ article.User.username }}</li>
                </ul>
              </div>
              

              <h2 class="title m-3">
                <a href="{{ path("article", {'slug': article.TitleSlug }) }}">{{ article.title }}</a>
              </h2>

               <p class="text-center m-3">{{ article.text|u.truncate(350, '...', false)|striptags }}<a class="text-decoration-none" href="{{ path("article", { 'slug' :  article.TitleSlug }) }}"> </br>
                  Lire la suite
                <i class="bi bi-arrow-right"></i><p></p>
              </a></p>

            </article>
            
          
          </div><!-- End post list item -->

        </div><!-- End blog posts list -->

      </div>

    </section><!-- /Blog Posts 2 Section -->
    {% endfor %}

    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">

      <div class="container">
        <div class="d-flex justify-content-center">
          <ul>
            <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li>...</li>
            <li><a href="#">10</a></li>
            <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>

    </section><!-- /Blog Pagination Section -->

  </main>
  {% endblock %}
  {% block footer %}
  {% include 'main/footer.html.twig'%}
  {% endblock %}
